<%- include("partials/header"); -%>

    <section class="white-section" id="about">
    <div class="row">
      <div class="pricing-column col-lg-6 col-md-6 col-sm-6">
        <img class="about-img" src="image/aboutme.jpg" alt="">
      </div>

      <div class="pricing-column col-lg-6 col-md-6 ">
        <div class="aboutus">
          <h1>About</h1>
          <p>I'm Abioye Samuel, a first-class student of Civil Engineering. <br><br> Fueled by my passion for knowledge and self development, I'm a Full-Stack web developer and software engineer. I've had experience creating custom and interactive websites, web applications, database (both relational and non-relational) and software using HTML, CSS, Bootstrap, JavaScript, jQuery, React.js, Node.js, APIs, SQL, MongoDB, Python, Java and C++, just to name a few. My knowledge in this field is quite extensive. This blog website is one of my wonderful projects and contribution as a developer.<br><br>In addition, I'm a team-player with an eye for detail, a team-leader and a problem-solver. I'm open to opportunities to implement my skills, knowledge and intellectual capacity. <br><br>Above all, I'm unquestionably passionate about technological evolution and innovation as well as structural and transportation engineering. <br><br> My hobbies include football, reading and coding. I love to play football because it is a major relief from stress and work.</p>
        </div>
      </div>

    </div>

  </section>
<%- include("partials/footer"); -%>
